# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
